BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignTrailingComments: true
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SortIncludes: true
IncludeBlocks: Preserve
NamespaceIndentation: None
